*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

.clear-fix::after{
    content: '';
    display: table;
    clear: both;
}

.float-left{
    float: left;
}

.float-right{
    float: right;
}

.container{
    width: 70%;
    margin: 0 auto;
}

.btn, a{
    text-decoration: none;
    color: black;
}

.blue-btn{
    color: white;
    background-color: #0061ff;
}

.blue-btn:hover{
    background-color: #3b85ff;
}

.inline-b{
    display: inline-block;
}

.block{
    display: block;
}

.pos-relative{
    position: relative;
}

.white-btn{
    border: 1px solid black;
    padding: 10px 25px;
    background-color: white;
}

.white-btn:hover{
    background-color: #f5f5f5;
}

.underline-a{
    text-decoration: underline;
    color: #0061ff;
}

.title{
    font-size: 45px;
    line-height: 1.1;
}

.no-bord{
    border: none;
}

li{
    list-style: none;
}
/* tick mark */
.tick-mark {
    position: relative;
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 10px;
}

.tick-mark::before {
    position: absolute;
    left: 0;
    top: 50%;
    height: 50%;
    width: 1px;
    background-color: #3b85ff;
    content: "";
    transform: translateX(10px) rotate(-45deg);
    transform-origin: left bottom;
}

.tick-mark::after {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1px;
    width: 90%;
    background-color: #3b85ff;
    content: "";
    transform: translateX(10px) rotate(-45deg);
    transform-origin: left bottom;
}
/* .pos-relative{
    position: relative;
} */

/* header */
header{
    height: 80px;
}

/* navbar */
nav{
    width: 100%;
    line-height: 78px;
    position: fixed;
    background-color: white;
    border-bottom: 1px solid lightgrey;
    z-index: 1;
}

nav .list ul li{
    display: inline-block;
    margin-left: 30px;
    font-size: 17.5px;
}

nav .list{
    display: inline-block;
}

nav .container-left{
    margin-left: 20px;
}

nav .container-right{
    margin-right: 20px;
}

nav .container-right .list:last-child{
    margin-right: 30px;
}
/* logo */
.top-logo{
    height: 80px;
}

.logo-box{
    text-decoration: none;
}

.top-logo a svg{
    height: 80px;
}

header .logo-img{
    width: 32px;
    height: 32px;
}

header .logo-text{
    width: 97px;
    height: 32px;
}

/* button start */
nav .btn{
    padding: 5px 20px;
}

/* hover effects */
nav .list li:hover{
    border-bottom: 2px solid black;
}

/* jumbotron */
.jumbotron{
    width: 100%;
    background-color: #b4d0e7;
    margin-bottom: 100px;
    /* padding-bottom: 17px; */
}

.jumbotron .jumbo-container{
    width: 87%;
    margin: auto;
    position: relative;
    bottom: -80px;
}

.jumbotron .left-container{
    width: 27%;
}

.jumbotron .right-container{
    width: 73%;
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-25%, -40%); */
}

.jumbotron h1{
    font-size: 73px;
    font-family: 'Open Sans Condensed', sans-serif;
    margin-bottom: 55px;
}

.jumbotron .jumbo-container p{
    font-size: 17.5px;
    margin-bottom: 43px;
    line-height: 1.50;
}

.jumbotron .btn{
    padding: 10px 20px;
}

.cancel{
    display: block;
    margin: 20px 0 50px;
    font-size: 14px;
}

.right-container img{
    width: 100%;
}
/* main */
/* business section */
#dropbox-business{
    margin-bottom: 100px;
    padding-top: 80px;
}

#dropbox-business .col-container{
    width: 100%;
}

#dropbox-business .col-container .col{
    width: 30%;
    border: 1px solid lightgray;
}

#dropbox-business .col-container .centre{
    margin:0 5%;
}

#dropbox-business .sngl-team{
    text-align: center;
    padding: 7px 0;
    border-bottom: 1px solid lightgray ;
}

#dropbox-business .col .int-col-container{
    padding: 30px 35px;
    min-height: 1000px;
}

#dropbox-business .col .int-col-container .price-sect{
    width: 60%;
    min-height: 165px;
}

#dropbox-business .plan{
    font-size: 25px;
}

#dropbox-business .price{
    font-weight: 700;
}

#dropbox-business .price-per{
    font-size: 15px;
    color: #637381;
}

#dropbox-business .col .int-col-container li{
    list-style: none;
    font-size: 15px;
}

#dropbox-business .col .int-col-container hr{
    width: 50px;
    border: none;
    border-top: 1px solid grey;
}

.price-sect .price{
    padding: 15px 0;
}

.main-caract-list{
    min-height: 245px;
}

.main-caract-list li{
    padding: 10px 0;
}

#dropbox-business i{
    width: 20px;
    margin-right: 5px;
}

.free-trial{
    display: block;
    padding: 10px 20px;
    text-align: center;
    margin-bottom: 15px;
}

.buy-now-container{
    display: inline-block;
    margin-bottom: 25px;
}

#dropbox-business h4{
    margin: 25px 0;
}

.plan-description-list li{
    margin-bottom: 10px;
}

#dropbox-business h2{
    font-size: 45px;
    font-weight: bold;
    padding: 20px 0;
}

.invoice-btns-container{
    line-height: 40px;
    height: 40px;
    margin-bottom: 20px;
}

.invoice-btn{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: white;
    border: 1px solid grey;
    margin-right: 2px;
    vertical-align: middle;
}

.full{
    border: 5px solid #0061ff;
}

.invoice-btns-container span{
    font-size: 17px;
    margin-right: 10px;
    display: inline-block;
    line-height: 40px;
    vertical-align: middle;
}

.container-enterprise-section{
    margin: 50px 0;
    border: 1px solid lightgrey;
}

.container-enterprise-section .team{
    border-bottom: 1px solid lightgrey;
    text-align: center;
    padding: 10px 0;
}

#dropbox-business .contacts-container{
    padding: 25px 35px;
}

.container-enterprise-section span, .container-enterprise-section p{
    padding: 0 35px 25px
}

#dropbox-business .contacts-container h3{
    font-size: 25px;
}

.contact-btn{
    padding: 10px 45px;
}

.container-enterprise-section span{
    font-weight: 600;
}

.container-enterprise-section p{
    font-size: 14px;
}

/* contacts section */
#dropbox-contacts{
    margin-bottom: 100px;
}

.img-business-partner, .text-business-partner{
    width: 50%;
}

.img-business-partner img{
    width: 100%;
}

.text-business-partner{
    padding: 116px 85px;
}

.text-business-partner h2{
    font-size: 30px;
    line-height: 30px;
}

.text-business-partner p{
    padding: 30px 0;
}

/* operation section */
#dropbox-operations{
    margin-bottom: 130px;
}

#dropbox-operations .top-col-container, #dropbox-operations .bottom-col-container{
    padding-top: 35px;
    width: 100%;
}

#dropbox-operations .top-col, #dropbox-operations .bottom-col{
    width: 30%;
}

#dropbox-operations img{
    width: 100%;
}

#dropbox-operations .centre{
    margin: 0 5%;
}

#dropbox-operations h2{
    font-size: 43px;
}

#dropbox-operations h3{
    padding-top: 20px;
    height: 100px;
    font-size: 25px;
}

.block-for-same-height{
    width: 100%;
    height: 1px;
}

/* clients section */
#dropbox-clients{
    margin-bottom: 150px;
}

.full-container{
    width: 100%;
    height: 70vh;
}

#dropbox-clients .container h2{
    width: 60%;
}

#dropbox-clients .container .more-on-clients{
    padding: 40px 0;
}

#dropbox-clients .container .more-on-clients a{
    font-size: 18px;
}

#dropbox-clients .side-container{
    width: 33%;
    height: 70vh;
}

#dropbox-clients .centre-container{
    width: 34%;
    height: 70vh;
    background-color: #f5f5f5;
}

#dropbox-clients .client-logo{
    width: 50%;
    height: 50%;
}

#dropbox-clients .client-logo #asu{
    width: 40%;
}

#dropbox-clients .client-logo img{
    width: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: invert(1);
}

#dropbox-clients .full-container-bottom{
    padding: 125px 0;
    background-color: #b4d0e7;
}

#dropbox-clients .full-container-bottom .title{
    width: 65%;
    margin-right: 5%;
    color: #61082b;
}

#dropbox-clients .full-container-bottom div{
    padding: 20px 0;
}

/* logos bc-colors */
#designit-logo{
    background-color: #a2d39b;
}

#asu-logo{
    background-color: #61082b;
}

#uf-logo{
    background-color: #0093ce;
}

#topps-logo{
    background-color: #ff1c1c;
}

#wbr-logo{
    background-color: #d5001f;
}

#hearst-logo{
    background-color: #b4d0e7;
}

#lonp-logo{
    background-color: #0d2481;
}

#cco-logo{
    background-color: #ffd830;
}

/* faq section */
#faq{}

#faq .container .title{
    padding: 15px 0 35px;
    font-size: 40px;
}

#faq .container .faq-list li{
    padding: 30px 0;
    font-size: 17px;
    border-top: 1px solid lightgray;
    width: 100%;
}

#faq .container .faq-list:last-child{
    border-bottom: 1px solid lightgray;
}

#faq .container .faq-list .question{
    width: 70%;
}

#faq .container .faq-list i{
    width: 30%;
    padding-left: 250px;
}
/* end main */

/* footer */
footer{
    height: 600px;
    background-color: black;
}

/* debug */
/* .debug header{
    background-color: aqua;
} */

/* .debug .jumbotron{
    background-color: blueviolet;
} */

/* .debug #dropbox-business{
    background-color: blueviolet;
}

.debug #dropbox-business .container{
    height: 800px;
    background-color: chartreuse;
} */

/* .debug #dropbox-contacts{
    height: 800px;
    background-color: cyan;
} */

/* .debug #dropbox-operations{
    height: 800px;
    background-color: blue;
} */

/* .debug #dropbox-clients{
    height: 800px;
    background-color: crimson;
} */

/* .debug #faq{
    height: 800px;
    background-color: darkkhaki;
} */

/* .debug .container{
    height: 500px;
    background-color: blue;
} */

/* .debug nav a{
    color: black;
} */

/* .debug #dropbox-business .col{
    background-color: white;
} */