*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

.clear-fix::after{
    content: '';
    display: table;
    clear: both;
}

.float-left{
    float: left;
}

.float-right{
    float: right;
}

.container{
    width: 88%;
    margin: 0 auto;
}

/* header */
header{
    height: 80px;
}

/* navbar */
nav{
    width: 100%;
    line-height: 80px;
    position: fixed;
    background-color: white;
}

nav .list ul li{
    list-style: none;
    display: inline-block;
}

nav .list{
    display: inline-block;
}

nav a{
    text-decoration: none;
    color: black;
}

/* logo */
.top-logo{
    height: 80px;
}

.top-logo a svg{
    height: 80px;
}

header .logo-img{
    width: 32px;
    height: 32px;
}

header .logo-text{
    width: 97px;
    height: 32px;
}

/* button start */
.btn-start{}

/* jumbotron */
.jumbotron{
    height: 800px;
    background-color: #b4d0e7;
}

.jumbotron h1{
    font-size: 80px;
    line-height: 108px;
    font-family: 'Open Sans Condensed', sans-serif;
}

/* main */
/* business section */
#dropbox-business{}

/* contacts section */
#dropbox-contacts{}

/* operation section */
#dropbox-operations{}

/* clients section */
#dropbox-clients{}

/* faq section */
#faq{}
/* end main */

/* footer */
footer{
    height: 600px;
    background-color: black;
}

/* debug */
/* .debug header{
    background-color: aqua;
} */

/* .debug .jumbotron{
    background-color: blueviolet;
} */

.debug #dropbox-business{
    height: 800px;
    background-color: chartreuse;
}

.debug #dropbox-contacts{
    height: 800px;
    background-color: cyan;
}

.debug #dropbox-contacts{
    height: 800px;
    background-color: blue;
}

.debug #dropbox-clients{
    height: 800px;
    background-color: crimson;
}

.debug #faq{
    height: 800px;
    background-color: darkkhaki;
}

/* .debug .container{
    height: 500px;
    background-color: blue;
} */