*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clear-fix::after{
    content: '';
    display: table;
    clear: both;
}

.float-left{
    float: left;
}

.float-right{
    float: right;
}

/* header */
header{
    height: 80px;
}

/* logo */
.top-logo{
    width: 10%;
}

header .logo-img{
    width: 32px;
    height: 32px;
}

header .logo-text{
    width: 97px;
    height: 32px;
}


/* navbar */
nav{
    width: 80%;
    margin: 0 auto;
}

nav .list ul li{
    list-style: none;
    display: inline-block;
}

nav .list{
    display: inline-block;
}

.list a{
    text-decoration: none;
    color: black;
}

/* button start */
.btn-start{
    width: 10%;
}

/* jumbotron */
.jumbotron{
    height: 800px;
}

/* main */
/* business section */
#dropbox-business{}

/* contacts section */
#dropbox-contacts{}

/* operation section */
#dropbox-operations{}

/* clients section */
#dropbox-clients{}

/* faq section */
#faq{}
/* end main */

/* footer */
footer{
    height: 600px;
    background-color: black;
}

/* debug */
.debug header{
    background-color: aqua;
}

.debug .jumbotron{
    background-color: blueviolet;
}

.debug #dropbox-business{
    height: 800px;
    background-color: chartreuse;
}

.debug #dropbox-contacts{
    height: 800px;
    background-color: cyan;
}

.debug #dropbox-contacts{
    height: 800px;
    background-color: blue;
}

.debug #dropbox-clients{
    height: 800px;
    background-color: crimson;
}

.debug #faq{
    height: 800px;
    background-color: darkkhaki;
}